{{#admin-nav}}
	{{nav-item route='adminPlugins.licenses.products' label='admin.license_keys.products.title'}}
	{{nav-item route='adminPlugins.licenses.find' label='admin.license_keys.find'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>