.user-licenses .dashboard-stats th {
    text-align: left;
}
.user-licenses .fa-check-circle {
    color: green;
}
.user-licenses .fa-times-circle {
    color: red;
}
.license-keys{
	.help{
    color: #919191;
    padding-top: 3px;
    font-size: 85%;
    line-height: 1.4em;
    margin: 0px;
    font-weight: normal;
  }
}
.nav-pills > span > li {
    float: left;
    margin-right: 5px;
}
.nav-pills > span > li > a {
    border: none;
    padding: 5px 12px;
    font-size: 1.143em;
    line-height: 20px;
    transition: background .15s;
}
.nav-pills > span > li > a {
    display: block;
    text-decoration: none;
}
.nav-pills > span > li > a:hover {
    color: #e45735;
    background-color: #f7cdc2;
}
.nav-pills > span > li > a.active {
    color: white;
    background-color: #e45735;
}
.admin-contents {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}
.dashboard-stats {
    margin-bottom: 30px;
    margin-right: 40px;
}
.dashboard-stats table {
    width: 100%;
    margin-top: 10px;
}
.admin-contents table tr {
    text-align: left;
}
.dashboard-stats table th.title {
    text-align: left;
}
.dashboard-stats table th {
    font-weight: normal;
    text-align: center;
    background: #e9e9e9;
}
.admin-contents table td, .admin-contents table th {
    padding: 8px;
}
.admin-contents table td {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}
.admin-contents table td, .admin-contents table th {
    padding: 8px;
}